<p style="color: green"><%= notice %></p>
<h1 style="text-align: center;", class="m-3 mb-0 text-primary">New task</h1>

<%= render "form", task: @task %>

<br>

<div>
  <%= link_to "Back to tasks", tasks_path, class: "btn btn-primary" %>
</div>
