
<p style="color: green"><%= notice %></p>
<h1 style="text-align: center;", class="m-3 mb-0 text-primary">Create New User</h1>


  <%= render "form", user: @user %>
    <%#= image_tag('/assets/draw2.webp') %>
  </div>
</div>
<br>